<!--  THIS IS A VIEW-->

<!-- this is from the simple_form website and on the -->
<!--  webpage it shows the form necessary to upload an image and-->
<!-- and put a caption on it, all this except for the variables/symbols -->
<!--  come from the gem file -->
<div class="form-wrapper text-center">
  <p> Please attach an image and add a caption </p>
  <%= render 'partials/form' %>
</div>
